<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/css/bootstrap-responsive.css' />
    <link rel='stylesheet' href='/css/main.css' />
  </head>
  <body>

    <div class="wrapper">
