<% include header %>

<% include sidebar-nav %>

<section class="content">
    <header class="content-header">
        <h1 class="light no-margin">Messaging</h1>
    </header>
    <section class="bordered">
        <div class="row-fluid">
            <div class="span12">
                <div class="messaging-filter">
                    <span class="check"><input type="checkbox"></span>
                    <span class="view">View All</span>
                    <span class="action">
                        <ul class="inline">
                            <li><a href="#">Reply</a></li>
                            <li><a href="#">Delete</a></li>
                            <li><a href="#">Bookmark</a></li>
                        </ul>
                    </span>
                    <span class="sorting pull-right">Arrange by</span>
                </div>
                <ul class="messaging-list unstyled">
                    <li class="item">
                        <span class="check"><input type="checkbox"></span>
                        <span class="sender">Outlook Team</span>
                        <span class="title">Get to know what's new in Outlook‏</span>
                        <span class="date">19/2/2013</span>
                    </li>
                    <li class="item">
                        <span class="check"><input type="checkbox"></span>
                        <span class="sender">Twitter</span>
                        <span class="title">Izuddin Helmi, David Perel, and 8 others have Tweets for you‏</span>
                        <span class="date">19/2/2013</span>
                    </li>
                    <li class="item">
                        <span class="check"><input type="checkbox"></span>
                        <span class="sender">Game Center</span>
                        <span class="title">Loricusz wants to be friends on Game Center.‏</span>
                        <span class="date">19/2/2013</span>
                    </li>
                    <li class="item current">
                        <span class="check"><input type="checkbox"></span>
                        <span class="sender">Outlook Team</span>
                        <span class="title">Get to know what's new in Outlook‏</span>
                        <span class="date">19/2/2013</span>
                    </li>
                    <li class="item">
                        <span class="check"><input type="checkbox"></span>
                        <span class="sender">iTunes Store</span>
                        <span class="title">Your receipt No.216046404976‏</span>
                        <span class="date">19/2/2013</span>
                    </li>
                    <li class="item">
                        <span class="check"><input type="checkbox"></span>
                        <span class="sender">Dribbble</span>
                        <span class="title">[Dribbble] Work Inquiry from DC</span>
                        <span class="date">19/2/2013</span>
                    </li>
                    <li class="item">
                        <span class="check"><input type="checkbox"></span>
                        <span class="sender">Kippt</span>
                        <span class="title">izuddinhelmi started following you on Kippt</span>
                        <span class="date">19/2/2013</span>
                    </li>
                    <li class="item">
                        <span class="check"><input type="checkbox"></span>
                        <span class="sender">Bitbucket</span>
                        <span class="title">Notification: You have hereby been granted write access to boostrapstyler/website</span>
                        <span class="date">19/2/2013</span>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section>
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span12">
                    <h3 class="section-header light">Conversation with <a href="#">Daenerys Targaryen</a></h3>
                    <ul class="conversation unstyled clearfix">
                        <li class="conversation-left">
                            <div class="avatar"><img src="/img/foca3d-MINI.jpg"></div>
                            <div class="message-wrapper">
                                <div class="timestamp">
                                    Sent on <span>Tuesday, 17th January 2018</span>
                                </div>
                                <div class="message bg-color blue">
                                    <p>Intelligentsia mollit mustache biodiesel dolor. Pug sustainable flannel id minim, blue bottle umami tumblr keffiyeh odd future swag fixie. Wolf shoreditch etsy mcsweeney's. Umami seitan fashion axe, elit veniam whatever raw denim art party mumblecore jean shorts ad delectus eiusmod. Meh est truffaut trust fund, fingerstache butcher fugiat assumenda kogi. Vero 8-bit mustache, readymade before they sold out next level aute typewriter messenger bag ennui cillum portland accusamus polaroid swag. VHS placeat helvetica, blog american apparel bushwick echo park single-origin coffee fingerstache 3 wolf moon wolf intelligentsia brunch salvia sint.</p>
                                </div>
                            </div>
                        </li>
                        <li class="conversation-right">
                            <div class="avatar"><img src="/img/230470_106005449486512_100002311727869_64088_1603112_n.jpg"></div>
                            <div class="message-wrapper">
                                <div class="timestamp">
                                    Sent on <span>Tuesday, 17th January 2018</span>
                                </div>
                                <div class="message bg-color dark-grey">
                                    <p>Anim skateboard quis ad. Art party portland cosby sweater, sartorial odd future fugiat sriracha consequat anim stumptown polaroid salvia. Lomo biodiesel cliche, four loko stumptown nesciunt cred DIY meggings organic viral skateboard dolore. Do trust fund brunch you probably haven't heard of them. Brooklyn sed deserunt quis narwhal. Ad wes anderson pickled neutra flexitarian. Literally bushwick pickled, flexitarian before they sold out pinterest sustainable marfa.</p>
                                </div>
                            </div>
                        </li>
                        <li class="conversation-left">
                            <div class="avatar"><img src="/img/foca3d-MINI.jpg"></div>
                            <div class="message-wrapper">
                                <div class="timestamp">
                                    Sent on <span>Tuesday, 17th January 2018</span>
                                </div>
                                <div class="message bg-color blue">
                                    <p>Intelligentsia mollit mustache biodiesel dolor. Pug sustainable flannel id minim, blue bottle umami tumblr keffiyeh odd future swag fixie. Wolf shoreditch etsy mcsweeney's. Umami seitan fashion axe, elit veniam whatever raw denim art party mumblecore jean shorts ad delectus eiusmod.</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="conversation-reply">
                        <form class="form-skin shadow">
                            <textarea rows="4" class="input-block-level" placeholder="Send a message"></textarea>
                            <button type="submit" class="btn btn-flat btn-blue">Send message</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>

<% include sidebar-notifications %>

<% include footer %>
