<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/bootstrap.css' />
    <link rel='stylesheet' href='/css/bootstrap-responsive.css' />
    <link rel='stylesheet' href='/css/main.css' />
  </head>
  <body>

    <div class="wrapper">
        <header class="page-header">
            <h1><%= title %> <small>The Social Net at Work</small></h1>
        </header>

        <div class="row">
            <form method="post" action="/login" class="form-horizontal">
              <div class="control-group">
                <label class="control-label" for="inputEmail">Email</label>
                <div class="controls">
                  <input type="text" id="inputEmail" name="email" placeholder="Email">
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="inputPassword">Password</label>
                <div class="controls">
                  <input type="password" id="inputPassword" name="password" placeholder="Password">
                </div>
              </div>
              <div class="control-group">
                <div class="controls">
                  <label class="checkbox">
                    <input type="checkbox"> Remember me
                  </label>
                  <button type="submit" class="btn">Sign in</button>
                </div>
              </div>
            </form>
        </div>
    </div>


    <script src="/js/libs/jquery-1.9.1.js"></script>
    <script src="/js/libs/underscore.js"></script>
    <script src="/js/main.js"></script>
  </body>
</html>
