<% include header %>

  <header class="page-header">
      <h1><%= title %> <small>The Social Net at Work</small></h1>
  </header>

  <div class="row">
      <form method="post" action="/login" class="form-horizontal">
        <div class="control-group">
          <label class="control-label" for="inputEmail">Email</label>
          <div class="controls">
            <input type="text" id="inputEmail" name="email" placeholder="Email">
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="inputPassword">Password</label>
          <div class="controls">
            <input type="password" id="inputPassword" name="password" placeholder="Password">
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
            <label class="checkbox">
              <input type="checkbox"> Remember me
            </label>
            <button type="submit" class="btn btn-primary">Sign in</button>
            <p></p>
            <p class="help-block">If you don't have an account you can <a href="/register">register here</a></p>
          </div>
        </div>
      </form>
  </div>

<%include footer %>
