<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/bootstrap.css' />
    <link rel='stylesheet' href='/css/bootstrap-responsive.css' />
    <link rel='stylesheet' href='/css/main.css' />
  </head>
  <body>

    <div class="wrapper">
      <h1>Register</h1>

      <form method="post" action="/register">
      <fieldset>
      <legend>Your Name</legend>
        <label>
          First:
          <input type="text" name="firstName" />
        </label>

        <label>
          Last:
          <input type="text" name="lastName" />
        </label>
      </fieldset>

      <fieldset>
        <legend>Email Address</legend>

        <label>
          Email:
          <input type="text" name="email" />
        </label>

        <br />

        <label>
          Email (confirm):
          <input type="text" name="cemail" />
        </label>
      </fieldset>

      <fieldset>
        <legend>Password</legend>

        <label>
          Password:
          <input type="password" name="password" />
        </label>

        <br />

        <label>
          Password (confirm):
          <input type="password" name="cpassword" />
        </label>
      </fieldset>

      <p>
        <input type="submit" value="Register Now"/>
      </p>
      </form>
    </div>

    <script src="/js/libs/jquery-1.9.1.js"></script>
    <script src="/js/libs/underscore.js"></script>
    <script src="/js/main.js"></script>
  </body>
</html>
