<% include header %>

<div class="container hero-unit">

  <form method="post" action="/register" class="form-skin">
    <fieldset>
      <legend>Your Name</legend>

      <label>First:</label>
      <input type="text" name="firstName" />
      <label>Last:</label>
        <input type="text" name="lastName" />
    </fieldset>

    <fieldset>
      <legend>Email Address</legend>

      <label>Email:</label>
      <input type="text" name="email" />

      <label>Email (confirm):</label>
      <input type="text" name="cemail" />
    </fieldset>

    <fieldset>
      <legend>Password</legend>

      <label>Password:</label>
      <input type="password" name="password" />

      <label>Password (confirm):</label>
        <input type="password" name="cpassword" />
    </fieldset>

    <p>
      <input type="submit" value="Register Now" class="btn btn-flat btn-blue no-radius"/>
    </p>
  </form>
</div>

<% include footer %>
