<aside class="sidebar sidebar-right">
    <div class="widget">
        <header class="">
            <h3 class="light">users involved in the project</h3>
        </header>
        <article class="widget-content">
            <ul class="unstyled user-list clearfix">
                <li><img src="/img/user-small.png"></li>
                <li><img src="/img/user-small.png"></li>
                <li><img src="/img/user-small.png"></li>
                <li><img src="/img/user-small.png"></li>
                <li><img src="/img/user-small.png"></li>
                <li><img src="/img/user-small.png"></li>
                <li><img src="/img/user-small.png"></li>
                <li><img src="/img/user-small.png"></li>
                <li><img src="/img/user-small.png"></li>
                <li><img src="/img/user-small.png"></li>
                <li><img src="/img/user-small.png"></li>
                <li><img src="/img/user-small.png"></li>
                <li><img src="/img/user-small.png"></li>
                <li><img src="/img/user-small.png"></li>
            </ul>
        </article>
    </div>

    <div class="widget bg-color dark-grey">
        <header>
            <h3>projects</h3>
        </header>
        <article class="widget-content">
            <ul class="unstyled list">
                <li>
                    <i class="icon-folder-close"></i>
                    <span class="font-bold">BeeSocial</span>
                    <span class="pull-right label label-success">completed</span>
                </li>
                <li>
                    <i class="icon-folder-close"></i>
                    <span class="font-bold">Boardskin</span>
                    <span class="pull-right label label-important">7 tasks</span>
                </li>
                <li>
                    <i class="icon-folder-close"></i>
                    <span class="font-bold">Landingskin</span>
                    <span class="pull-right label label-important">1 task</span>
                </li>
                <li>
                    <i class="icon-folder-close"></i>
                    <span class="font-bold">Plain</span>
                    <span class="pull-right label label-important">3 tasks</span>
                </li>
                <li>
                    <i class="icon-folder-close"></i>
                    <span class="font-bold">Website</span>
                    <span class="pull-right label label-warning">Pending</span>
                </li>
                <li>
                    <i class="icon-folder-close"></i>
                    <span class="font-bold">Snippets</span>
                    <span class="pull-right label label-warning">4 tasks</span>
                </li>
                <li>
                    <i class="icon-folder-close"></i>
                    <span class="font-bold">Styler</span>
                    <span class="pull-right label label-default">unknown</span>
                </li>
            </ul>
        </article>
    </div>

</aside>
