
<aside class="sidebar sidebar-left in collapse" style="height: auto;">
    <h3 class="sidebar-header light">Navigation</h3>
    <ul class="navigation-list unstyled">
        <li>
          <a href="/<%= user.username %>">
            <i class="icon-desktop"></i>
            <span>Home</span>
          </a>
        </li>
        <li>
          <a href="/tasks">
            <i class="icon-check"></i>
            <span>Tasks</span>
          </a>
        </li>
        <li>
          <a href="/<%= user.username %>/inbox/">
            <i class="icon-comment"></i>
            <span>Inbox</span>
          </a>
        </li>
        <li>
          <a href="/calendar">
            <i class="icon-calendar"></i>
            <span>Calendar</span>
          </a>
        </li>
        <li>
          <a href="/projects">
            <i class="icon-th"></i>
            <span>Projects</span>
          </a>
        </li>
        <li>
          <a href="/<%= user.username %>/profile/">
            <i class="icon-user"></i>
            <span>Profile</span>
          </a>
        </li>
    </ul>
</aside>
